---
import Nav from '../components/Nav.astro'
import Hamburger from '../components/Hamburger.astro'
import ThemeIcon from './ThemeIcon.astro'

---

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>

<header>
  <!-- <p>Garrett Siegel</p> -->
  <Hamburger />
  <!-- <ThemeIcon /> -->
  <Nav />
</header>

<style lang="sass">
  header
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
</style>