---
import Nav from '../components/Nav.astro'
import Hamburger from '../components/Hamburger.astro'
import ThemeIcon from './ThemeIcon.astro'

---

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>

<header>
  <p>Garrett Siegel</p>
  <Hamburger />
  <ThemeIcon />
  <Nav />
</header>