---
---
<div class="nav-toggle">
  <p>Dev Mode</p>

  <label class="switch" id="themeToggle">
    <input type="checkbox" id="checkbox">
    <span class="slider round"></span>
  </label>
  
  <p>Design Mode</p>
</div>



<script is:inline>
  class CssTheme {
    constructor() {
      this.checkbox = document.querySelector('#checkbox')  
      this.html = document.querySelector('html')  
      this.toggleSlider()
    }
    
    toggleSlider() {
      this.checkbox.addEventListener('click', () => {
        this.checkbox.checked ? this.html.classList.add('alt-theme') : this.html.classList.remove('alt-theme')
      })
    }
    
  }

  new CssTheme
</script>